<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Upload File with validation</title>
  </head>
  
  <body>
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h3>Demo of Upload File with Validation</h3>
    <p>Validate content and the file name</p>
    <p>Please make sure to upload csv file with columns like following</p>
    <p>username,subject_id,is_pass</p>
    <p><strong>Username</strong> string</p>
    <p><strong>Subject</strong> int</p>
    <p><strong>is_pass</strong> int (0, 1)</p>


    <form action="{% url 'upload' %}" method="post" enctype='multipart/form-data' accept-charset="utf-8">
      {% csrf_token %}
      {{ form }}
      <input type="submit" name="submit" id="submit" value="Upload">
    </form>

    <hr>

    <h4>Data List</h4>

    {% regroup objects by memorize_at|date:'jS F Y H:i' as new_objects %}

    {% if objects %}

    {% for group in new_objects %}
    <h5>Date: {{ group.grouper }}</h5>
      <table border=1>
        <thead><tr>
            <th>Date</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Is Pass</th>
          </tr></thead>

          <tbody>
            {% for object in group.list %}
            <tr>
              <td>{{ object.memorize_at }}</td>
              <td>{{ object.student.first_name }}</td>
              <td>{{ object.subject.title }}</td>
              <td>{{ object.is_pass }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      {% endfor %}
      {% else %}
      <p>no data.</p>
    {% endif %}
  </body>
</html>
