<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>The simple Form for image uploading implementation</title>
  </head>
  <body>
    <h3>Upload the image file</h3>
    <hr>

    <p>Upload the image file, we will display the image after click submit in the new page</p>
    <form id="hello" action="/simple" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form }}

      <br></br>
      <input type="submit" name="" id="" value="Submit">
      
    </form>

  </body>
</html>
