<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Image preview</title>
  </head>
  <body>
    <a href="{% url 'index' %}" target="_blank">Back to home</a>
    <hr>

    {% if error %}
    <p>{{ error }}</p>
    {% else %}
    <img src="data:image/png;base64,{{ image_url }}" alt=""/>
    {% endif %}

      
    </form>

  </body>
</html>
