<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Delete {{ file.id }} confirmation</title>
    
  </head>
  <body>
    <h3>Delete Confirmation</h3>
    <p>Are you sure to delete "{{ file.the_file.name }}" ?</p>
    <a href="{% url 'index' %}">Cancel</a>
    <form action="{% url 'delete' file.id %}" style="display:inline-block;" method="post" accept-charset="utf-8">
      {% csrf_token %}
      <input type="submit" name="Submit" id="Submit" value="Submit" style="border:none;color:-webkit-link;background:none;text-decoration:underline;cursor:pointer;">
    </form>
  </body>
</html>
