<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Detail of {{ the_file.id }}</title>
  </head>
  <body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
    <h3>Detail</h3>
    <p>ID   : {{ the_file.id }}</p>
    <p>Name : {{ the_file.the_file.name }}</p>

    <h4>Change the file</h4>
		<form action="{% url 'edit' the_file.id %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>

    <a href="{% url 'index' %}">Back to index</a>
  </body>
</html>
