<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <h3>Simple Django Upload File using ModelForm</h3>

  <form action="{% url 'handle_upload' %}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="Submit" id="Submit" value="Submit">
  </form>

  <hr>

  <h4>Filelist:</h4>
  {% if files %}
  <ul>
    {% for file in files %}
    <li><a href="{{ file.get_absolute_url }}">{{ file.the_file.name }}</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'delete' file.id %}" target="_blank">Delete</a></li>
    {% endfor %}
  </ul>

  {% else %}
    <p>No files here.</p>
  {% endif %}
</body>
</html>
