{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Edit {{ file }}</title>
    
  </head>
  <body>
    <h3>Edit {{ file }}</h3>

    <form action="{% url 'handle_edit' file %}" method="post" accept-charset="utf-8" enctype='multipart/form-data'>
      <p>The django app will use the uploaded file name as filename</p>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" name="Submit" id="Submit" value="Upload">
    </form>


  </body>
</html>
