{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Upload file and Storage</title>
    
  </head>
  <body>
    <h3>Upload your file here</h3>

    <form action="{% url 'handle_upload' %}" method="post" accept-charset="utf-8" enctype='multipart/form-data'>
      <p>The django app will use the uploaded file name as filename</p>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" name="Submit" id="Submit" value="Upload">
    </form>


    <hr>
    <h3>File List</h3>

    {% if files %}
    <ul>
      {% for file in files %}
      <li>
       <a href="{% get_media_prefix %}{{ file }}" target="_blank">{{ file }}</a>
       <br>

       <a href="{% url 'handle_edit' file %}" target="_blank">Change file</a>
       <a href="{% url 'handle_delete' file %}">Delete</a>
       <br>
       <br>
       

      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No files found.</p>
    {% endif %}
  </body>
</html>
