<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>The simple File Upload</title>
  </head>
  <body>
    <h4>Simple File Upload</h4>
    <hr>

    <p>Upload the comma separated value file with 2 field.
    The first field is name, and the second is year</p>
    <form action="/simple" method="post" enctype="multipart/form-data" accept-charset="utf-8">
      {% csrf_token %}
      <input type="file" name="the_file" id="the_file" value="">
      <input type="submit" name="submit" id="submit" value="Submit">
    </form>
  </body>
</html>
