<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Simple</title>
  </head>
  <body>
    <a href="{% url 'index' %}" target="_blank">Back to home</a>

    {% if error %}
    {{ error }}
    {% else %}
    <h3>The content of csv file</h3>
    <table border=1>
      <thead>
      <tr>
        <th>No.</th>
        <th>Nama</th>
        <th>Umur</th>
      </tr>
      </thead>
      <tbody>
        {% for obj in object %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ obj.0 }} </td>
            <td>{{ obj.1 }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}


  </body>
</html>
